{% extends 'baseBack.html.twig' %}

{% block body %}
    <div class="row align-items-center">
        <div class="col-md-10">
            <h1>Genres</h1>
        </div>
    </div>

    <hr>
    <div class="row align-items-center">
        {% include 'type_de_musique/_filter.html.twig' with {form: form} only %}
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeDeMusique in typesDeMusique %}
            <tr>
{#                <td>{{ typeDeMusique.id }}</td>#}
                <td>{{ typeDeMusique.Genre }}</td>
                <td>
                    <a href="{{ path('app_type_de_musique_show', {'id': typeDeMusique.id}) }}"><button class="btn btn-success btn-xs"><i class="fa fa-info"></i></button></a>
                    <a href="{{ path('app_type_de_musique_edit', {'id': typeDeMusique.id}) }}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_de_musique_new') }}">Créer</a>
{% endblock %}
