{% extends 'baseBack.html.twig' %}

{% block body %}
    <a href="{{ path('app_evenement_index') }}">Afficher Evenements</a>
    <a href="{{ path('app_artiste_index') }}">Afficher Artistes</a>

    <h1>TypeDeMusique index</h1>

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_de_musique in type_de_musiques %}
            <tr>
{#                <td>{{ type_de_musique.id }}</td>#}
                <td>{{ type_de_musique.Genre }}</td>
                <td>
                    <a href="{{ path('app_type_de_musique_show', {'id': type_de_musique.id}) }}">show</a>
                    <a href="{{ path('app_type_de_musique_edit', {'id': type_de_musique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_de_musique_new') }}">Create new</a>
{% endblock %}
