{% extends 'baseBack.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>


    {% block stylesheets %}
    <input type="text" id="search" class="form-control" placeholder="Search">


    <script src="{{ asset('C:\xampp\htdocs\TapAndGo\public\back\lib\jquery\jquery-2.1.0.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#Ytable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

        {% endblock %}

    <table class="table">
        <thead>
            <tr>
                <th>Num Reservation</th>
                <th>User</th>
                <th>Restaurant</th>
                <th>Nombre de personne</th>
                <th>Heure</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.idReservation }}</td>
                <td>{{ reservation.idUser }}</td>
                <td>{{ reservation.idRestaurant }}</td>
                <td>{{ reservation.idTable.typeTable }}</td>
                <td>{{ reservation.heure }}</td>
                <td>{{ reservation.date }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'idReservation': reservation.idReservation}) }}"><button type="button" class="btn btn-primary">Show</button></a>
                    <a href="{{ path('app_reservation_edit', {'idReservation': reservation.idReservation}) }}"><button type="button" class="btn btn-warning">Edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(reservations) }}
    </div>
    <a href="{{ path('app_reservation_new') }}"><button type="button" class="btn btn-info">Create new</button></a>
    <a href="{{ path('app_reservation_listr') }}"><button type="button" class="btn btn-info">Imprimer</button></a>
{% endblock %}
