{% extends 'baseBack.html.twig' %}

{% block title %}Reaction index{% endblock %}

{% block body %}
    <h1>Reaction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdReaction</th>
                <th>TypeReaction</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reaction in reactions %}
            <tr>
                <td>{{ reaction.idReaction }}</td>
                <td>{{ reaction.typeReaction }}</td>
                <td>
                    <a href="{{ path('app_reaction_show', {'idReaction': reaction.idReaction}) }}">show</a>
                    <a href="{{ path('app_reaction_edit', {'idReaction': reaction.idReaction}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reaction_new') }}">Create new</a>
{% endblock %}
