{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    <div class="row align-items-center">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.date) }}
                </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                   {{ form_row(form.artiste) }}
               </div>
                <div class="col-md-6">
                    {{ form_row(form.restaurant) }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary w-30">Recherche</button>
        </div>
    </div>
{{ form_end(form) }}