{% extends 'baseBack.html.twig' %}

{% block body %}
    <div class="row align-items-center">
        <div class="col-md-10">
            <h1>Artistes</h1>
        </div>
    </div>


    <hr>
    <div class="row align-items-center">
        {% include 'artiste/_filter.html.twig' with {form: form} only %}
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
{#                <th>IdArtiste</th>#}
                <th>Nom</th>
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artiste in artistes %}
            <tr>
{#                <td>{{ artiste.idArtiste }}</td>#}
                <td>{{ artiste.nomArtiste }}</td>
                <td>{{ artiste.getTypeDeMusique }}</td>
                <td>
                    <a href="{{ path('app_artiste_show', {'idArtiste': artiste.idArtiste}) }}"><button class="btn btn-success btn-xs"><i class="fa fa-info"></i></button></a>
                    <a href="{{ path('app_artiste_edit', {'idArtiste': artiste.idArtiste}) }}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artiste_new') }}">Créer</a>
{% endblock %}
