{% extends 'baseBack.html.twig' %}

{% block body %}
    <a href="{{ path('app_evenement_index') }}">Afficher Evenements</a>
    <a href="{{ path('app_type_de_musique_index') }}">Afficher Genres</a>

    <h1>Artiste index</h1>

    <table class="table">
        <thead>
            <tr>
{#                <th>IdArtiste</th>#}
                <th>NomArtiste</th>
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artiste in artistes %}
            <tr>
{#                <td>{{ artiste.idArtiste }}</td>#}
                <td>{{ artiste.nomArtiste }}</td>
                <td>{{ artiste.getTypeDeMusique }}</td>
                <td>
                    <a href="{{ path('app_artiste_show', {'idArtiste': artiste.idArtiste}) }}">show</a>
                    <a href="{{ path('app_artiste_edit', {'idArtiste': artiste.idArtiste}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artiste_new') }}">Create new</a>
{% endblock %}
