{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    <div class="row align-items-center mb-2">
        <div class="col-md-2">
            <label>Nom Artiste</label>
        </div>
        <div class="col-md-2">
            {{ form_row(form.nomArtiste, {'label': false}) }}
        </div>
    </div>
    <div class="row align-items-center mb-2">
        <div class="col-md-2">
            <label>Genre De Musique</label>
        </div>
        <div class="col-md-2">
            {{ form_row(form.typeDeMusique, {'label': false}) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
