{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Add cours</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCour</th>
                <th>NomCour</th>
                <th>LibelleCour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.idCour }}</td>
                <td>{{ cour.nomCour }}</td>
                <td>{{ cour.libelleCour }}</td>
                <td>
                    <a href="{{ path('app_cours_show', {'idCour': cour.idCour}) }}">show</a>
                    <a href="{{ path('app_cours_edit', {'idCour': cour.idCour}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cours_new') }}">Create new</a>
{% endblock %}
